<%= form_tag charges_path do |c|%>
  <div>
    <%= c.label :amount %>
   <%= c.hidden_field_tag "amount", @product.amount %>
     
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= product.name %>"
          data-amount="<% product.amount%> "> </script>
<% end %>

